<div class="grid grid-cols-2 gap-4 w-full h-screen">
  <div class="bg-red-500 w-full"></div>
  <div>
    <div class="flex flex-row items-center justify-between">
      <%= render(Dropdown::DropdownComponent.new(title: "Filtro", options: @options)) %>
      <div class="flex justify-end p-4">
        <%= render(Modal::ModalComponent.new(title: "Criar GeoAlerta")) do |component| %>
          <% component.with_trigger do %>
            <%= render Button::ButtonComponent.new(text: "Criar GeoAlerta") %>
          <% end %>

          <%= render 'alerts/form', alert: @alert %>
        <% end %>
      </div>
    </div>
    <div id="alerts" class="flex flex-col gap-4 p-4">
      <% @alerts.each do |alert| %>
        <%= render(AlertCard::AlertCardComponent.new(alert: alert)) %>
      <% end %>
    </div>
  </div>
</div>
