<%= turbo_frame_tag "modal" do %>
  <%= form_with(model: alert, url: alerts_path, id: "alert_form", class: "flex flex-col gap-4",
                data: { action: "turbo:submit-end->modal--modal-component#close" }) do |form| %>
    <% if alert.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 p-4 rounded-xl mb-4 border border-red-100">
        <h2 class="font-bold text-sm">
          <%= alert.errors.count == 1 ? "1 erro impediu este alerta de ser salvo:" : "#{alert.errors.count} erros impediram este alerta de ser salvo:" %>
        </h2>
        <ul class="text-xs mt-2 list-disc list-inside">
          <% alert.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render Select::SelectComponent.new(
          form: form,
          name: :alert_type,
          label: Alert.human_attribute_name(:alert_type),
          collection: Alert.alert_type_options,
          extra_classes: "pb-4"
        ) %>

    <%= render Select::SelectComponent.new(
          form: form,
          name: :alert,
          label: Alert.human_attribute_name(:alert),
          collection: Alert.alert_options,
          extra_classes: "pb-4"
        ) %>

    <%= render Input::InputComponent.new(
          form: form,
          name: :title,
          label: Alert.human_attribute_name(:title),
          extra_classes: "pb-4"
        ) %>

    <%= render Textarea::TextareaComponent.new(
          form: form,
          name: :description,
          label: Alert.human_attribute_name(:description),
          extra_classes: "pb-4"
        ) %>

    <%= render Input::InputComponent.new(
          form: form,
          name: :location,
          label: Alert.human_attribute_name(:location),
          value: alert.location,
          extra_classes: "pb-4"
        ) %>

    <div class="flex justify-center items-center mt-6">
      <%= render Button::ButtonComponent.new(text: "Criar alerta", type: "submit", extra_classes: "w-1/2") %>
    </div>
  <% end %>
<% end %>