<div class="pb-8">
  <nav class="fixed w-[80%] top-[2%] left-[10%] right-[10%] z-50 bg-white shadow-md border-s rounded-2xl">
    <div class="container mx-auto px-6 py-4">
      <div class="flex items-center justify-between">
        <div>
          <%= render(Logo::LogoComponent.new) %>
        </div>
        <div class="flex gap-8">
          <%= link_to "Home", home_path, class: "text-gray-600 hover:text-blue-500 #{nav_link_class(home_path)}" %>
          <%= link_to "Lupa GeoSafe", root_path, class: "text-gray-600 hover:text-blue-500 #{nav_link_class(root_path)}" %>
          <%= link_to "Loja", root_path, class: "text-gray-600 hover:text-blue-500 #{nav_link_class(root_path)}" %>
        </div>
        <div class="flex flex-col">
          <% if Current.user %>
            <span class="mr-4 text-gray-600">Olá, <%= Current.user.full_name %></span>
            <%= button_to "Sair", session_path(Current.session), method: :delete, class: "px-4 py-2 font-bold text-white bg-red-500 rounded hover:bg-red-700" %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</div>
