<div class="pb-8">
  <nav class="fixed w-[80%] top-[2%] left-[10%] right-[10%] z-50 bg-gray-100 shadow-md border-s rounded-2xl">
    <div class="container mx-auto px-6 py-4">
      <div class="flex items-center justify-between">
        <div>
          <%= render(Logo::LogoComponent.new) %>
        </div>
        <div class="flex gap-8">
          <%= link_to "Home", home_path, class: "text-gray-600 hover:text-blue-500 #{nav_link_class(home_path)}" %>
          <%= link_to "Lupa GeoSafe", root_path, class: "text-gray-600 hover:text-blue-500 #{nav_link_class(root_path)}" %>
          <%= link_to "Loja", root_path, class: "text-gray-600 hover:text-blue-500 #{nav_link_class(root_path)}" %>
        </div>
        <div class="flex items-center gap-4">
          <% if Current.user %>
            <span class="text-gray-600 text-sm">Olá, <%= Current.user.full_name %></span>
            <%= link_to "Change email address", edit_identity_email_path, class: "text-sm text-gray-600 hover:text-blue-500" %>
            <%= link_to "Change password", edit_password_path, class: "text-sm text-gray-600 hover:text-blue-500" %>
            <%= link_to "Devices & Sessions", sessions_path, class: "text-sm text-gray-600 hover:text-blue-500" %>
            <%= button_to "Log out", session_path(Current.session), method: :delete, class: "px-4 py-2 font-bold text-white bg-red-500 rounded-xl hover:bg-red-700 text-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</div>
