<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Geosafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.maps_api_key %>" async defer></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <main class="container mx-auto px-6 pt-24">
      <%= render "layouts/flash" %>
      <%= yield %>
    </main>
    <%= turbo_frame_tag "remote_modal" %>
  </body>
</html>
